<div>
    {{> nav/header-block}}
    <div class="container" id="posts">
        <div class="post">
            <div style="font-size:2em; margin-bottom: 50px;">
                <h1>
                    <a href="/../dashboard">
                        <i class="fas fa-arrow-left" style="margin-right: 20px;"></i>
                    </a>
                    Posts</h1>
            </div>
            <ul>
                <li>
                    <a href="/category/{{week}}/{{subject}}/1">Post 1</a>
                </li>
                <li>
                    <a href="/category/{{week}}/{{subject}}/2">Post 2</a>
                </li>
                <li>
                    <a href="/category/{{week}}/{{subject}}/3">Post 3</a>
                </li>
                <li>
                    <a href="/category/{{week}}/{{subject}}/4">Post 4</a>
                </li>
            </ul>
        </div>
    </div>
</div>